# Statistical Learning - Descriptive Statistics

Statistical learning refers to a set of tools for modelling and understanding complex data
Statistical algorithms help analyse input data and obtain useful insights from it
These insights are obtained in two ways â€“ Inference & Predictions

In [2]:
import pandas as pd

In [12]:
items = pd.read_csv("items.csv")
shops = pd.read_csv("shops.csv")
item_categories = pd.read_csv("item_categories.csv")
sales_train = pd.read_csv("sales_train.csv")

In [4]:
# Let's look at first five rows

In [6]:
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00             1
1  03.01.2013               0       25     2552      899.00             1
2  05.01.2013               0       25     2552      899.00            -1
3  06.01.2013               0       25     2554     1709.05             1
4  15.01.2013               0       25     2555     1099.00             1

In [7]:
# Dimensions of Data

In [9]:
sales_train.shape

(1043246, 6)

In [14]:
print("item_categories:",item_categories.shape)
print("Items:",items.shape)
print("Shops:",shops.shape)
print("sales_train:",sales_train.shape)

item_categories: (84, 2)
Items: (22170, 3)
Shops: (60, 2)
sales_train: (1043246, 6)

In [15]:
# Data type for each attribute

In [17]:
sales_train.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day        int64
dtype: object

# Descriptive Statistics

Descriptive Statistics is a data analysis strategy It deals with the presentation of numerical facts,or data, in either tables 
or graph form, and with the methodology of analysing the data

# Calculating Measures of Central Tendency

Mean: Represents average values

In [18]:
sales_train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06
mean     4.472810e+00  3.245368e+01  1.024260e+04  6.823654e+02  1.220174e+00
std      2.967065e+00  1.625856e+01  6.305360e+03  1.124829e+03  1.600203e+00
min      0.000000e+00  0.000000e+00  1.200000e+01 -1.000000e+00 -6.000000e+00
25%      2.000000e+00  2.200000e+01  4.548000e+03  1.990000e+02  1.000000e+00
50%      4.000000e+00  3.000000e+01  9.691000e+03  3.990000e+02  1.000000e+00
75%      7.000000e+00  4.700000e+01  1.561875e+04  6.993000e+02  1.000000e+00
max      1.000000e+01  5.900000e+01  2.216800e+04  5.920000e+04  2.880000e+02

In [ ]:
#sales_train.mean()

Median: Middle value of dataset

In [ ]:
#sales_train.median()

In [ ]:
sales_train.shape

Mode: number which is repeated most of the time in the list